body{
    background-color: #EDFFFE;
    margin: 0;
    /* overflow:scroll; */
}

#sol{
    /* position: relative; */
    position: absolute;
    top: 0;
    left: 20px;
    margin-top: 2%;
    /* left: -25%; */
    width: 100px;
    height: 20px;

    
}

nav div{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    justify-content: end;
    background-color: #E0FBF4;
}
nav div a{
    margin: 1.6% 1.8%;
    text-decoration: none;
    color: #112A46;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 1.2vw;
}
a:hover{
    /* border: solid 0.1em white; */
    border-radius: 40px;
    padding: 10px;
    background-color: #B6EDE0;
}

/* .clicked{
    border: solid 0.1em black;
    border-radius: 40px;
    padding: 0.5%;
} */

main h2{
    font-family:'Nunito', sans-serif;
    color: #5CA9CA;
    font-size: 4em;
    text-align: center;
}

.events{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 700px){
    nav{
        display: none;
    }
}
.events button:hover{
    color: white;
    background: black;
    /* border: white; */
}

button{
    margin: 6px;
    border: solid 0.1em black;
    background-color: transparent;
    font-family:'Nunito', sans-serif;
    font-size: 16px;
    padding: 10px;
}

p{
    color: #525252;
    text-align: center;
}
.flex{
    background-color: #001D1B;
    /* display: flex; */
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.grid{
    background-color: #001D1B;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: auto; */
    margin: auto  50px;
    align-items: center;
}

.a{
    margin: 20px;
    text-align: center;
    color: #E0FBF4;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
}


footer div div a{
    width: 200px;
    font-size: 12px;
    color: #E0FBF4;
    text-decoration: none;
}
footer div div a:hover{
    border-radius: 40px;
    /* padding: 10px; */
    background-color: #B6EDE0;
    color: black;
}

#vec{
    height: 100px;
    margin-bottom: 20px;
}